@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

 *{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    /* font-family: 'Dancing Script', cursive; */
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    /* background:  plum; */
    /* background: rgb(40, 30, 32); */
    background: #090e25;
    /* background: rgb(6, 6, 6); */
    color: white;
    
}
#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    /* background-image: url(images/bg.png); */
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lap{
    width: 150px;
    animation: slideRight 5s ease forwards;
}

@keyframes slideRight{
    0%{
        transform:translateX(-100px);
        opacity: 0;
    }
    100%{
        transform:translateX(0);
        opacity: 1;
    }
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    padding: 10px 27px;   
    font-family: 'Dancing Script', cursive;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    position: relative;
    animation: slideTop 2s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

@keyframes slideTop{
    0%{
        transform:translateY(100px);
        opacity: 0;
    }
    100%{
        transform:translateY(0);
        opacity: 1;
    }
}

nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    background: #ff007b;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 20px;
}
.header-text h1{
    font-size: 60px;
    margin-top:20px;
}
.header-text h1 span{
    color: #ff007b;
}

.header-img img{
    width: 350px;
    height: 350px;
    margin-right: -20px;
    top: 250px;
    position: absolute;
    left: 1050px;
    border-radius: 205px;
    /* animation: zoomIn 3s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s; */
}
@keyframes zoomIn{
    0%{
        transform:scale(0);
        opacity: 0;
    }
    100%{
        transform:scale(1);
        opacity: 1;
    }
}
/* @keyframes floatImage{
    0%{
        transform:translateY(0);  
    }
    50%{
        transform:translateY(-25px);
    }
    100%{
        transform:translateY(0);
    }
} */


.multiple-text{
    color: #ff007b;
}
/* ----typing animation---- */
.wrapper{
    display: inline-flex;
}
.wrapper .static-text{
    color: #fff;
    font-size: 50px;
    font-weight: 400;
}
.wrapper .dynamic-text{
    margin-left: 15px;
    line-height: 80px;
    height: 90px;
    overflow: hidden;
}
.dynamic-text li{
    color: #ff007b;
    list-style: none;
    font-size: 50px;
    font-weight: 500;
    position: relative;
    top:0;
    animation: slide 6s steps(3) infinte;
}
@keyframes slide{
    100%{
       top:-360px;
    }
}
.dynamic-text li span{
    position: relative;
}
.dynamic-text li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background:#fd91b8;
    border-left: 2px solid #fd91b8;
    animation: typing 1.5s steps(10) infinte;
}
@keyframes typing{
    100%{
        left:100%;
        margin: 0 -35px 0 35px;
    }
}
/* ---------about---------- */

#about{
    padding: 80px 0;
    color: #fff;
}
.imgabout{
    width:500px;
    height: 500px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:#fff
}

.sub-title p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 25px;
    color: #ff007b;
    font-weight: 500;
    cursor: pointer;
    position:relative ;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background:#fff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #fd91b8;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

.social a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 5px;
    color: #be1768;
    display: inline-block;
}

/* -----skills----- */

.services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
  
}

.languages{
    box-sizing: border-box;
    border-radius: 25px;
}


/* .services-list:hover{
    background: #ff007b;
    transform: translateY(-10px);
    box-shadow: 10px 10px rgba(230, 159, 212, 0.3);
} */
/* .services-list div{
    background: #fd91b8;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 25px;
    transition: background 0.5s, transform 0.5s ;
} */
/* .services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
} */
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    /* background: #ff007b; */
    transform: translateY(-10px);
    /* box-shadow: 10px 10px; */
}

/* ------services---------- */

/* .services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.services-list div{
    background: #fd91b8;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 25px;
    transition: background 0.5s, transform 0.5s ;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #ff007b;
    transform: translateY(-10px);
} */


/* ----------Portfolio----- */
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.work{
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width:100%;
    /* height: 100%; */
    height: 0;
    background: linear-gradient(rgba(216, 81, 176, 0.6), #68a8c8);
    border-radius: 25px;
    position: absolute;
    left:0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    transition: height 0.5s;
}
.layer h2{
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-decoration: underline;
}
.layer a{
    margin-top: 20px;
    color: #fd91b8;
    text-decoration: none;
    font-size: 18px;
    line-height: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
   display: block;
   /* margin: 50px auto; */
   margin: 20px auto;
   width: fit-content;
   border: 1px solid #ff007b;
   padding: 14px 40px;
   /* border-radius: 6px;  */
   border-radius: 25px; 
   text-decoration: none;
   color: #fff;
   transition: background 0.5s;
}
.btn:hover{
    background: #ff007b;
}

.btn-1{
    display: block;
    margin: 50px auto;
    /* margin: 20px auto; */
    width: fit-content;
    border: 1px solid #ff007b;
    padding: 14px 40px;
    border-radius: 6px; 
    /* border-radius: 25px;  */
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
 }
 .btn-1:hover{
     background: #ff007b;
 }

/* ----contact--------- */
.contact-left{
    flex-basis:35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff007b;
    margin-right: 15px;
    font-size:25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ff007b;
    display: inline-block;
    transition: transform 0.5s;
    opacity: 0;
    animation: slideLeft 2s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

@keyframes slideLeft{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.social-icons a:hover{
    color: #ff007b;
    transform: translateY(-5px);
}
.btn .btn2{
    display: inline-block;
    color: #ff007b;
    text-decoration: none;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width:100%;
    border:0 ;
    outline: none;
    background:#fd91b8;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 30px;
    font-size: 20px;
    margin-top: 10px;
    cursor:pointer;
    color: #fff;
    font-weight: 500;
    background: #000;
}
.copyright{
    width: 100%;
    text-align: center;
    padding:15px 0;
    background: #ff007b;
    margin-top: 20px;
    font-weight: 300;
}


/* ----------css for small screen--------- */
nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    .header-text{
        margin-top: 100%;
        font-size: 16px;
        /* background-image: url(images/img.jpg); */
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff007b;
        position: fixed;
        top:0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top:25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size:14px ;
    }
}

#msg{
    color: #ff007b;
    margin-top: -40px;
    display: block;
}

/*  */

